# Editors
.idea/
.vscode/

# MacOS
.DS_Store

# Weird outputs
*.log

# Secrets
.bash_secrets

# Config
.config/Code
.config/configstore
.config/htop
.config/systemd
.config/gatsby
.config/Cypress
.config/google-chrome
.config/iterm2
