[user]
	email = tj@tjmaynes.com
	name = TJ Maynes
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	conflicts = ls-files --unmerged | cut -f2 | sort -u
	llog = log --date=local
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	lol = log --graph --decorate --oneline
	lola = log --graph --decorate --oneline --all
	ditch = reset --hard
	ditchall = reset --hard && git clean -fd
	d = difftool
	diffc = diff --cached
	smp = submodule foreach git pull origin master
	sgc = og --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %C(cyan)(%cr) %C(blue)<%an>%Creset' --abbrev-commit --date=relative
	patience = merge --strategy-option=patience
	aliases = config --get-regexp alias
	pushf = push --force-with-lease
	s = status -s -uno
	gl = log --oneline --graph
[core]
	editor = vim
[diff]
	tool = delta
[gpg]
	program = gpg2
[init]
	defaultBranch = main
